
body{


background: #061161; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #DC2424 , #061161); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #DC2424 , #061161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#nav_menu ul {
	list-style-type: none;
	padding: 1em 0;
	text-align: center;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}
#nav_menu ul li {
	display: inline;
	padding: 0 1.5em;
}

#nav_menu ul li a {
	font-weight: bold;
	color: #FFF;
}

#nav_menu ul li a.current {
	text-decoration: none;
}
li a{
font-family: 'Myriad Pro', Verdana, Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #FFF;
    letter-spacing: 5px;
    text-align: center;
    line-height: 5px;
    text-shadow: 1px 1px 0 #CCC, 2px 2px 0 #444;
    -webkit-transition: all 0.12s ease-out;
}



h2{
	font-family: 'Myriad Pro', Verdana, Arial, Helvetica, sans-serif;
    font-size: 100px;
    color: #FFF;
    letter-spacing: 5px;
    text-align: center;
    line-height: 5px;
    text-shadow: 1px 1px 0 #CCC, 2px 2px 0 #CCC, 3px 3px 0 #444, 4px 4px 0 #444, 5px 5px 0 #444, 6px 6px 0 #444;
    -webkit-transition: all 0.12s ease-out;

}
h2{
display: block;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

h3{
	font-family: 'Myriad Pro', Verdana, Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #FFF;
    letter-spacing: 5px;
    text-align: center;
	line-height: 5px;
}

a, a:visited, a:hover, a:active {
  color: #FFF;
}

h4{
	font-family: 'Myriad Pro', Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #FFF;
    letter-spacing: 5px;
    text-align: center;
	line-height: 15px;
}

img{
	display: block;
	margin-left:auto;
	margin-right:auto;
	padding: 0 10px 0 10px;
	width: 700px;}

/* Smartphones (safezone) ----------- */
@media only screen and (max-width : 320px) {
img{width: 270px;}
h2{font-size:20px;}
h3{font-size:15px;}
h4{font-size:10px;
   letter-spacing: 2px;
   line-height: 10px;
}
li a{font-size:17px;}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 321px) and (max-device-width : 480px) {
img {width: 270px;}
h2{font-size:20px;}
h3{font-size:15px;}
h4{font-size:10px;
   letter-spacing: 2px;
   line-height: 10px;
}
li a{font-size:17px;}

}

/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 500px) {
img {width: 300px;}
h2{font-size:25px;}
h3{font-size:20px;}
h4{font-size:10px;
   letter-spacing: 2px;
   line-height: 10px;}
li a{font-size:17px;}

}


/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 650px) {
img{width: 300px;}
h2{font-size:20px;}
h3{font-size:15px;}
h4{font-size:10px;
   letter-spacing: 2px;
   line-height: 10px;
}
li a{font-size:17px;}
}


